*.obj
*.pch
*.lib
*.exe
*.exp
*.ilk
*.ipch
*.pdb
*.suo
*.sdf
*.opensdf
*.user
*.log
*.tlog

GFSDK_HairWorks.win64.dll*
HairWorksIntegration/*.sln
HairWorksIntegration/*.csproj

_out/
_tmp/
Externals/
Library/
Temp/
Hidden/
Hidden.meta
obj/
